@charset "UTF-8";
/* Font en la web, se usa Poppins desde Google */
body {
  font-family: "Poppins", sans-serif;
}

/* h1 oculto*/
h1 {
  display: none;
}

/* Reseteo inicial */
* {
  margin: 0;
  padding: 0;
}

/* Final de reseteo */
/** Boton general **/
/* ------------------------------------------------------------------- */
/* Header y nav bar con Logo */
header {
  position: sticky;
  top: 0;
  background-color: #333;
  box-sizing: border-box;
  padding: 10px;
  height: 60px;
}

.headcontainer {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo img {
  height: 60px;
  align-items: center;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar-nav li {
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s ease-in-out;
  padding-right: 10px;
}

.navbar-nav li a {
  color: white;
  text-decoration: none;
}

.navbar-nav li:last-child {
  margin-right: 50px;
  border-right: none;
  padding-right: 0;
}

.navbar-nav li:first-child {
  margin-left: 0;
}

.navbar-nav li:hover {
  border-bottom-color: #fff;
  padding-bottom: 1px;
}

.navbar-nav li.active {
  border-right: none;
  border-bottom: 2px solid #8B0000;
  border-radius: 10px;
  background-color: #8B0000;
  padding: 5px 10px 3px 10px;
}

.navbar-nav li.active:hover {
  background-color: #710000;
  transition: background-color 0.3s ease-in-out;
  padding-bottom: 3px;
}

/* Barra pre Slider / Banner */
.barra {
  background-color: black;
  height: 25px;
  text-align: center;
  align-items: center;
}
.barra p {
  color: white;
  font-size: 15;
  margin: 0;
}

/* Slider / Banner */
.banner {
  width: 100%;
  max-height: 480px;
}
.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.space {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Spacer para contenido y coso de contenido*/
.contenido {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.contenido p {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}
.contenido iframe {
  width: 100%;
  height: 380px;
  border: none;
  margin-bottom: 30px;
}

.contenido .spotify {
  flex-basis: calc(40% - 10px);
  margin-right: 10px;
}

.contenido .descripcion {
  flex-basis: calc(60% - 10px);
}

/* Model de "caja" */
.caja {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 1200px;
  margin: 50px auto;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 20px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.caja h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 15px;
}

.main p {
  flex-basis: calc(50% - 10px);
  margin: 0 10px;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

h2 {
  text-align: center;
}

.containerccortos {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  align-items: center;
  margin: 0 auto;
}

.boxccortos {
  width: 30%;
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
  height: 450px;
  overflow: auto;
}
.boxccortos img {
  width: 80%;
  border-radius: 10px;
}
.boxccortos h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonccortos {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #8B0000;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10px;
}
.buttonccortos:hover {
  background-color: #710000;
  color: white;
}

.submitbutton {
  align-items: center;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

label {
  margin-bottom: 10px;
}

input[type=email] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

button[type=submit] {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #8B0000;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
button[type=submit]:hover {
  background-color: #710000;
  color: white;
}

.copy-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #8B0000;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.copy-button:hover {
  background-color: #710000;
  color: white;
}

.contenedorccortosbt {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  max-width: 80%;
  align-items: center;
  margin: 0 auto;
}
.contenedorccortosbt h2 {
  text-align: center;
}

.boxccortosg {
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
  height: 500px;
  overflow: auto;
}
.boxccortosg img {
  width: 100%;
  border-radius: 10px;
}
.boxccortosg h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #8B0000;
}

.form-group input::-moz-placeholder, .form-group textarea::-moz-placeholder {
  color: #ccc;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #ccc;
}

.submit-btn {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #8B0000;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #710000;
  color: white;
}

.descripcioncto p {
  padding-bottom: 50px;
}

.descripcioncto button {
  margin-bottom: 30px;
}

/* ------------------------------------------------------------------- */
/* Pantallas tamaño tablet y phablet */
@media (min-width: 769px) and (max-width: 992px) {
  /* Estilos para pantallas entre 769px y 992px */
  /* Pantallas tamaño tablet y phablet */
  nav {
    display: flex;
    justify-content: center;
    margin-right: 40%;
  }
  .navbar-nav li {
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
  }
  .navbar-collapse {
    position: absolute;
    top: 90%;
    background-color: #444;
    border-radius: 12px;
    padding: 10px;
  }
  .navbar-collapse .nav-link {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .contenido {
    display: flex;
    flex-direction: column;
  }
  .contenido p {
    font-size: 15px;
  }
  .caja {
    max-width: 768px;
    padding: 0 20px;
  }
  .caja h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .main p {
    flex-basis: calc(100% - 20px);
    margin: 0 0 20px 0;
    font-size: 16px;
  }
  .containerccortos {
    display: flex;
    flex-wrap: wrap;
  }
  .boxccortos {
    width: 100%;
    margin-bottom: 20px;
  }
  .boxccortos img {
    width: 100%;
  }
  .cont-flu-container {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    max-width: 80%;
    align-items: center;
    margin: 0 auto;
  }
  .cont-flu-container h2 {
    text-align: center;
  }
  .descripcioncto p {
    padding-bottom: 25px;
  }
}
/* ------------------------------------------------------------------- */
/* Pantallas tamaño smartphone */
@media (max-width: 768px) {
  /* Estilos para pantallas de hasta 768px */
  /* Pantallas tamaño smartphone */
  /* la burguer */
  nav {
    display: flex;
    justify-content: center;
    margin-right: 40%;
  }
  .navbar-nav li {
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
  }
  .navbar-collapse {
    position: absolute;
    top: 90%;
    background-color: #444;
    border-radius: 12px;
    padding: 10px;
  }
  .navbar-collapse .nav-link {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .contenido {
    display: flex;
    flex-direction: column;
  }
  .contenido p {
    font-size: 15px;
  }
  .caja {
    max-width: 768px;
    padding: 0 20px;
  }
  .caja h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .main p {
    flex-basis: calc(100% - 20px);
    margin: 0 0 20px 0;
    font-size: 16px;
  }
  .containerccortos {
    display: flex;
    flex-wrap: wrap;
  }
  .boxccortos {
    width: 100%;
    margin-bottom: 20px;
  }
  .boxccortos img {
    width: 100%;
  }
  .cont-flu-container {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    max-width: 80%;
    align-items: center;
    margin: 0 auto;
  }
  .cont-flu-container h2 {
    text-align: center;
  }
  .descripcioncto p {
    padding-bottom: 25px;
  }
}
/* ------------------------------------------------------------------- */
/* FOOTER */
footer {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: #ccc;
}

.columna-izquierda {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 50%;
  padding-left: 25%;
}
.columna-izquierda img {
  height: 50px;
}
.columna-izquierda a {
  margin-top: 10px;
}

.columna-central {
  flex-basis: 45%;
}

.columna-central h4 {
  margin-top: 0;
}

.columna-central ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.columna-central a {
  text-decoration: none;
}

.columna-central li {
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */