/* Reseteo inicial */
* {
    margin: 0;
    padding: 0;
}

/* Final de reseteo */

/* h1 oculto... ¿esto es anti SEO? */
h1 {
    display: none;
}

/* Font en la web, se usa Poppins desde Google */
body {
    font-family: 'Poppins', sans-serif;
}


/* ------------------------------------------------------------------- */
/* Pantallas tamaño smartphone */
@media (max-width: 768px) {
    /* Estilos para pantallas de hasta 768px */
    /* Pantallas tamaño smartphone */

    /* Header y nav bar con Logo */
    header {
        position: sticky;
        top: 0;
        background-color: #333;
        box-sizing: border-box;
        padding: 10px;
        height: 60px;
    }

    .container {
        max-width: 960px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .logo img {
        height: 60px;
        align-items: center;
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .navbar-links li {
        margin: 0 10px;
        border-bottom: 2px solid transparent;
        transition: border-bottom-color 0.2s ease-in-out;
        padding-right: 10px;
    }

    .navbar-links li a {
        color: white;
        text-decoration: none;
    }

    .navbar-links li:last-child {
        margin-right: 50px;
        border-right: none;
        padding-right: 0;
    }

    .navbar-links li:first-child {
        margin-left: 0;
    }

    .navbar-links li:hover {
        border-bottom-color: #fff;
        padding-bottom: 1px;
    }

    .navbar-links li.active {
        border-right: none;
        border-bottom: 2px solid #8B0000;
        border-radius: 10px;
        background-color: #8B0000;
        padding: 5px 10px 3px 10px;
    }

    .navbar-links li.active:hover {
        background-color: #710000;
        transition: background-color 0.3s ease-in-out;
        padding-bottom: 3px;
    }

    /* Final header y nav bar con Logo */

    /* Barra pre Slider / Banner */
    .barra {
        background-color: black;
        height: 25px;
        text-align: center;
        align-items: center;
    }

    .barra p {
        color: white;
        font-size: 15;
        margin: 0;
    }

    /* Slider / Banner */
    .banner {
        width: 100%;
        max-height: 480px;
    }

    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Spacer para contenido y coso de contenido*/
    .contenido {
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .contenido .spotify {
        flex-basis: calc(40% - 10px);
        margin-right: 10px;
    }

    .contenido .descripcion {
        flex-basis: calc(60% - 10px);
    }

    .contenido p {
        margin: 0;
        font-size: 18px;
        line-height: 1.5;
        text-align: justify;
    }

    /* iframe en contenido */
    .contenido iframe {
        width: 100%;
        height: 380px;
        border: none;
        margin-bottom: 30px;
    }

    /* Model de "caja" */
    .caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        max-width: 768px;
        margin: 50px auto;
        padding: 0 20px;
        border-radius: 20px;
        background-color: #f5f5f5;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }

    .caja h2 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    .main p {
        flex-basis: calc(100% - 20px);
        margin: 0 0 20px 0;
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
    }

    h2 {
        text-align: center;
    }

    .containerccortos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 80%;
        margin: 0 auto;
    }

    .boxccortos {
        width: 100%;
        border-radius: 10px;
        border: 2px solid black;
        padding: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .boxccortos img {
        width: 100%;
        border-radius: 10px;
    }

    .boxccortos h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .buttonccortos {
        margin-top: 10px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: #8B0000;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }

    .newsletter-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    label {
        margin-bottom: 10px;
    }

    input[type="email"] {
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
    }

    button[type="submit"] {
        background-color: #8B0000;
        border: none;
        color: white;
        padding: 12px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

    .copy-button {
        background-color: #8B0000;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .copy-button:hover {
        background-color: #710000;
    }

    .container-fluid {
        display: flex;
        padding-top: 50px;
        justify-content: space-between;
        max-width: 80%;
        align-items: center;
        margin: 0 auto;
    }

    .container-fluid h2 {
        text-align: center;
    }

    .boxccortosg {
        width: 100%;
        border-radius: 10px;
        border: 2px solid black;
        padding: 20px;
        text-align: center;
        margin-bottom: 50px;
        height: 450px;
    }

    .boxccortosg img {
        width: 100%;
        border-radius: 10px;
    }

    .boxccortosg h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .contact-form form {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .form-group label {
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group textarea {
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 16px;
    }

    .form-group input:focus,
    .form-group textarea:focus {
        outline: none;
        border-color: #8B0000;
    }

    .form-group input::placeholder,
    .form-group textarea::placeholder {
        color: #ccc;
    }

    .submit-btn {
        background-color: #8B0000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

    .submit-btn:hover {
        background-color: #710000;
    }

}


/* ------------------------------------------------------------------- */
/* Pantallas tamaño tablet y phablet */
@media (min-width: 769px) and (max-width: 992px) {
    /* Estilos para pantallas entre 769px y 992px */
    /* Pantallas tamaño tablet y phablet */

    /* PROXIMAMENTE */

}


/* ------------------------------------------------------------------- */
/* Pantallas tamaño escritorio */
@media (min-width: 993px) {
    /* Estilos para pantallas de 993px en adelante */
    /* Pantallas tamaño escritorio */

    /* Header y nav bar con Logo */
    header {
        position: sticky;
        top: 0;
        background-color: #333;
        box-sizing: border-box;
        padding: 10px;
        height: 60px;
    }

    .container {
        max-width: 960px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .logo img {
        height: 60px;
        align-items: center;
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .navbar-links li {
        margin: 0 10px;
        border-bottom: 2px solid transparent;
        transition: border-bottom-color 0.2s ease-in-out;
        padding-right: 10px;
    }


    .navbar-links li a {
        color: white;
        text-decoration: none;
    }

    .navbar-links li:last-child {
        margin-right: 50px;
        border-right: none;
        padding-right: 0;
    }

    .navbar-links li:first-child {
        margin-left: 0;
    }

    .navbar-links li:hover {
        border-bottom-color: #fff;
        padding-bottom: 1px;
    }

    .navbar-links li.active {
        border-right: none;
        border-bottom: 2px solid #8B0000;
        border-radius: 10px;
        background-color: #8B0000;
        padding: 5px 10px 3px 10px;
    }

    .navbar-links li.active:hover {
        background-color: #710000;
        transition: background-color 0.3s ease-in-out;
        padding-bottom: 3px;

    }

    /* Final header y nav bar con Logo */

    /* Barra pre Slider / Banner */
    .barra {
        background-color: black;
        height: 25px;
        text-align: center;
        align-items: center;
    }

    .barra p {
        color: white;
        font-size: 15;
        margin: 0;
    }

    /* Slider / Banner */
    .banner {
        width: 100%;
        max-height: 480px;
    }

    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Spacer para contenido y coso de contenido*/
    .contenido {
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .contenido .spotify {
        flex-basis: calc(40% - 10px);
        margin-right: 10px;
    }

    .contenido .descripcion {
        flex-basis: calc(60% - 10px);
    }

    .contenido p {
        margin: 0;
        font-size: 18px;
        line-height: 1.5;
        text-align: justify;
    }

    /* iframe en contenido */
    .contenido iframe {
        width: 100%;
        height: 380px;
        border: none;
        margin-bottom: 30px;
    }

    /* Model de "caja" */
    .caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        max-width: 1200px;
        margin: 50px auto;
        padding-right: 50px;
        padding-left: 50px;
        border-radius: 20px;
        background-color: #f5f5f5;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }

    .caja h2 {
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }

    .main p {
        flex-basis: calc(50% - 10px);
        margin: 0 10px;
        font-size: 18px;
        line-height: 1.5;
        text-align: justify;
    }

    h2 {
        text-align: center;
    }

    .containerccortos {
        display: flex;
        justify-content: space-between;
        max-width: 80%;
        align-items: center;
        margin: 0 auto;
    }

    .boxccortos {
        width: 30%;
        border-radius: 10px;
        border: 2px solid black;
        padding: 20px;
        text-align: center;
        margin-bottom: 50px;
        height: 450px;
    }

    .boxccortos img {
        width: 80%;
        border-radius: 10px;
    }

    .boxccortos h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .buttonccortos {
        margin-top: 10px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: #8B0000;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }

    .newsletter-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    label {
        margin-bottom: 10px;
    }

    input[type="email"] {
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
    }

    button[type="submit"] {
        background-color: #8B0000;
        border: none;
        color: white;
        padding: 12px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

    .copy-button {
        background-color: #8B0000;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .copy-button:hover {
        background-color: #710000;
    }

    .container-fluid {
        display: flex;
        padding-top: 50px;
        justify-content: space-between;
        max-width: 80%;
        align-items: center;
        margin: 0 auto;
    }

    .container-fluid h2 {
        text-align: center;
    }

    .boxccortosg {
        width: 100%;
        border-radius: 10px;
        border: 2px solid black;
        padding: 20px;
        text-align: center;
        margin-bottom: 50px;
        height: 450px;
    }

    .boxccortosg img {
        width: 100%;
        border-radius: 10px;
    }

    .boxccortosg h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .contact-form form {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .form-group label {
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group textarea {
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 16px;
    }

    .form-group input:focus,
    .form-group textarea:focus {
        outline: none;
        border-color: #8B0000;
    }

    .form-group input::placeholder,
    .form-group textarea::placeholder {
        color: #ccc;
    }

    .submit-btn {
        background-color: #8B0000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

    .submit-btn:hover {
        background-color: #710000;
    }



}






/* ------------------------------------------------------------------- */
/* FOOTER */
footer {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

footer a {
    color: #fff;
}

.columna-izquierda {
    display: flex;
    flex-direction: column;
}

.columna-izquierda img {
    height: 50px;
}

.columna-izquierda a {
    margin-top: 10px;
}

.columna-central,
.columna-derecha {
    flex-basis: calc(33.33% - 20px);
}

.columna-central h4,
.columna-derecha h4 {
    margin-top: 0;
}

.columna-central ul,
.columna-derecha ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.columna-central a,
.columna-derecha a {
    text-decoration: none;
}

.columna-central li,
.columna-derecha li {
    margin-bottom: 10px;
}

.columna-derecha i {
    font-size: 1.5rem;
    margin-right: 10px;
}

/* FOOTER */
/* ------------------------------------------------------------------- */