footer {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    a {
        color: white;
        text-decoration: none;

        &:hover{
            color: #ccc;
        }
    }
}

.columna-izquierda {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 50%;
    padding-left: 25%;

    img {
        height: 50px;
    }

    a {
        margin-top: 10px;
    }
}



.columna-central{
    flex-basis: 45%;
}

.columna-central h4{
    margin-top: 0;
}

.columna-central ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.columna-central a{
    text-decoration: none;
}

.columna-central li{
    margin-bottom: 10px;
}